<!-- Header -->
<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <ul class="nav nav-justified w-100">
      <li class="nav-item">
        <h2>Supercast</h2>
      </li>
    </ul>
  </div>
</nav>
